<html>

<head>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" type="text/css" href="assets/Semantic-UI/semantic.min.css">
    <script src="assets/vue.min.js"></script>
    <script src="assets/jquery-3.1.1.min.js"></script>
    <script src="assets/Semantic-UI/semantic.min.js"></script>
    <script src="assets/w3data.js"></script>
</head>

<body>
    <div id="app">
        <div class="ui container">
            <div class="ui top attached button">
                <h2 class="ui header">Calendar Test</h2>
            </div>
            <div class="ui grid">
                <div class="sixteen wide column"></div>
                <div class="sixteen wide column">
                    <div class="ui form">
                        <div class="three fields">
                            <div class="field">
                                <label>Start Date</label>
                                <div class="ui calendar" id="calendar">
                                    <div class="ui input left icon">
                                        <i class="calendar icon"></i>
                                        <input type="text" name="start-date" placeholder="Date">
                                    </div>
                                </div>
                            </div>
                            <div class="field">
                                <label>Number of Days</label>
                                <input type="number" name="number-days" placeholder="Number of Days">
                            </div>
                            <div class="field">
                                <label>Country Code</label>
                                <select name="country-code" placeholder="Country Code">
                                    <option :value="item.value" v-for="item in codes">{{ item.text }}</option>
                                </select>
                            </div>
                        </div>
                        <div class="ui error message"></div>
                        <button class="ui button" v-on:click="apply">Apply</button>
                    </div>
                </div>
            </div>
            <div class="calendars ui container">
                <div class="ui equal width center aligned padded grid">
                    <div class="row" v-for="row in params.rows">
                        <div class="column" v-for="calendar in 2" v-if="((row - 1) * 2) + (calendar - 1) < params.months">
                            <calendar :holidays="holidays" :year="getElement(row, calendar, 'year')" :month="getElement(row, calendar, 'month')" :init="getElement(row, calendar, 'init')" :end="getElement(row, calendar, 'end')"></calendar>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Import Calendar Component -->
    <link rel="stylesheet" href="components/calendar/calendar.css">
    <div w3-include-html="components/calendar/calendar.html"></div>
    <script src="components/calendar/calendar.js"></script>
    <script>
    w3IncludeHTML();
    setTimeout(function() {
        var script = document.createElement('script');
        script.src = 'script.js';
        document.head.appendChild(script);
    }, 0);
    </script>
</body>

</html>
